<div *ngIf="CatsExists" class=" rounded-lg py-4 mb-2 pl-6 bg-white">
    <h1 class="text-lg mb-2 text-orange"><b>chats nouveaux</b></h1>
    <div class="carousel carousel-center max-w-md py-4 pr-4 space-x-3 rounded-box w-full">
        <ng-container *ngFor="let cat of cats">
            <div class="carousel-item w-40">
                <app-cat [urgent]="cat.urgent" [numberOfFavorites]="cat.count" [sex]="cat.sex" [id]="cat.id"
                    [name]="cat.name" [age]="cat.age" [localisation]="cat.localisation" [photo]="cat.photo"
                    [favoris]="cat.fav" (click)="catPage(cat.id)"></app-cat>
            </div>
        </ng-container>
    </div>
</div>