<div class="h-screen flex justify-center  bg-beige py-5">
  <div class="fixed z-50 w-full top-0 text-sm font-medium text-center text-gray-500">
    <img class="pt-4 pl-4" src="../../../assets/arrow.svg" (click)="back()"/>
  </div>

  <div>

    <h1 class="text-3xl font-bold text-center mt-10 text-vertGradient">
      VOTRE PROFIL DE JARDINIER
    </h1>

    <div>
      <!-- formulaire -->
      <div class="flex justify-center mt-10 bg-beige">
        <form [formGroup]="userData" (ngSubmit)="submit()" class="mt-10 bg-beige">

          <div class="flex flex-col items-center">
            <label class="text-vertGradient  py-2"><span>Expérience</span></label>
            <div *ngFor="let level of experienceLevels; let idx = index"
                 class="flex items-center bg-accent w-80 px-10 py-2 m-2 rounded-full">
              <input type="radio" [id]="'level' + idx" [value]="level.value" formControlName="experience"
                     class="radio radio-error bg-beige" name="experience"/>
              <label [for]="'level' + idx"
                     class="text-vertGradient  py-2 px-4 cursor-pointer select-none">{{ level.label }}</label>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <label class="text-vertGradient  py-2"><span>Type de potager</span></label>
            <div *ngFor="let habitat of habitatOption; let idx = index"
                 class="flex items-center bg-accent w-80 px-10 py-2 m-2 rounded-full">
              <input type="radio" [id]="'habitat' + idx" [value]="habitat.value" formControlName="habitat"
                     class="radio radio-error bg-beige" name="habitat"/>
              <label [for]="'habitat' + idx"
                     class="text-vertGradient  py-2 px-4 cursor-pointer select-none">{{ habitat.label }}</label>
            </div>
          </div>
          <div class="m-2">
            <button class="flex justify-center btn btn-wide bg-vertGradient text-white mt-5 rounded-full m-10" type="submit">Suivant</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
