
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="mx-8 py-8 font-montserrat ">
    <div class="grid grid-cols-2 gap-3 mb-6">
        <div class="form-group">
            <label for="name" class="block text-sm font-medium text-gray-700">Nom</label>
            <input type="text" id="name" [(ngModel)]="model.name" name="name"
                class="input input-bordered w-full max-w-xs" required>
        </div>
        <div class="form-group">
            <label for="breed" class="block text-sm font-medium text-gray-700">Race</label>
            <input type="text" id="breed" [(ngModel)]="model.breed" class="input input-bordered w-full max-w-xs"
                name="breed" required>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-3 mb-6">
        <div class="form-group">
            <label for="age" class="block text-sm font-medium text-gray-700">Âge</label>
            <input type="number" id="age" [(ngModel)]="model.age" name="age"
                class="input input-bordered w-full max-w-xs" required>
                <div *ngIf="validationErrors.age" class="error-message text-red-600">{{ validationErrors.age }}</div>
        </div>
        <div class="form-group">
            <label for="localisation_id" class="block text-sm font-medium text-gray-700">Localisation</label>
            <select id="localisation_id" [(ngModel)]="model.localisation_id" name="localisation_id"
                class="select select-bordered w-full max-w-xs" required>
                <option *ngFor="let departement of departements" [ngValue]="departement.id">
                    {{ departement.departement }}
                </option>
            </select>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-3 mb-6">
        <div class="form-group">
            <label for="sex" class="block text-sm font-medium text-gray-700">Sexe</label>
            <select id="sex" [(ngModel)]="model.sex" class="select select-bordered w-full max-w-xs" name="sex" required>
                <option value="male">Male</option>
                <option value="female">Femelle</option>
            </select>
        </div>
        <div class="form-group">
            <label for="urgent" class="block text-sm font-medium text-gray-700">Urgent</label>
            <select id="urgent" [(ngModel)]="model.urgent" name="urgent" class="select select-bordered w-full max-w-xs"
                required>
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
        </div>
    </div>
    <div class="form-group mb-6">
        <label for="character" class="block text-sm font-medium text-gray-700">character</label>
        <textarea id="character" [(ngModel)]="model.character" name="character"
            class="textarea textarea-bordered w-full" required></textarea>
    </div>

    <div class="form-group mb-2">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea id="description" [(ngModel)]="model.description" name="description"
            class="textarea textarea-bordered w-full" required></textarea>
    </div>
    <p class="my-4">Tous les champs sont obligatoires</p>

    <div class="grid grid-cols-2 gap-3">
        <button type="submit" class="w-full bg-orange text-white p-2 rounded-md "
            [disabled]="!myForm.valid" required>créer le chat</button>
        <button routerLink="/meschats"
            class="w-full text-orange border-solid border-orange border-2 p-2 rounded-md hover:text-white">annuler</button>
    </div>
</form>

<div class="edit-form-container bg-white p-6 rounded-lg shadow-lg max-w-lg mx-auto pb-20 font-montserrat "
    [class.active]="isEditFormVisible">
    <app-add-photos [id]="id"></app-add-photos>
    <br>
    <button (click)="closeEditForm()" class="w-full text-orange p-2 rounded-md border-solid border-2 border-orange">plus
        tard</button>
</div>