<div class="w-full h-full bg-greenPlant">
    <div class="flex px-4 pt-6 pb-4">
        <app-search class="w-full" [searchTerm]="searchTerm" (action)="handleSearch($event)"></app-search>
        <button class="ml-2 w-16 h-10" (click)="showFilters()">
            <img src="../../../assets/filters.svg" class="h-10">
        </button>
    </div>
    <hr>
    <div *ngIf="filtersVisible" class="m-4 p-4 shadow-lg rounded-lg">
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div class="flex">
                <div class="w-full">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="seedMonth">
                        Mois de plantation
                    </label>
                    <select class="select select-bordered w-full max-w-xs" name="seedMonth" id="seedMonth"
                        formControlName="seedMonth">
                        <option selected value="none">tous les mois</option>
                        <option value="01">Janvier</option>
                        <option value="02">Fevrier</option>
                        <option value="03">Mars</option>
                        <option value="04">Avril</option>
                        <option value="05">Mai</option>
                        <option value="06">Juin</option>
                        <option value="07">Juillet</option>
                        <option value="08">Aout</option>
                        <option value="09">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                </div>
                <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="fruitMonth">
                        Mois de récolte
                    </label>
                    <select class="select select-bordered w-full max-w-xs" name="fruitMonth" id="fruitMonth"
                        formControlName="fruitMonth">
                        <option selected value="none">tous les mois</option>
                        <option value="01">Janvier</option>
                        <option value="02">Fevrier</option>
                        <option value="03">Mars</option>
                        <option value="04">Avril</option>
                        <option value="05">Mai</option>
                        <option value="06">Juin</option>
                        <option value="07">Juillet</option>
                        <option value="08">Aout</option>
                        <option value="09">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                </div>
            </div>
            <div class="flex space-x-4">
                <div class="flex items-center">
                    <input class="sr-only" type="radio" id="true" value="1" formControlName="fruit" name="fruit">
                    <label for="true"
                        class="text-sm cursor-pointer px-4 py-2 bg-[#D9E2F5] text-gray-800 rounded-full transition duration-300 ease-in-out hover:bg-[#AEC1E8]"
                        [class.bg-[#AEC1E8]]="filterForm.get('fruit')?.value === '1'">
                        Fruit
                    </label>
                </div>
                <div class="flex items-center">
                    <input class="sr-only" type="radio" id="false" value="0" formControlName="fruit" name="fruit">
                    <label for="false"
                        class="text-sm cursor-pointer px-4 py-2 bg-[#D9E2F5] text-gray-800 rounded-full transition duration-300 ease-in-out hover:bg-[#AEC1E8]"
                        [class.bg-[#AEC1E8]]="filterForm.get('fruit')?.value === '0'">
                        Légume
                    </label>
                </div>
                <div class="flex items-center">
                    <input class="sr-only" type="radio" id="bothFruit" value="none" formControlName="fruit"
                        name="fruit">
                    <label for="bothFruit"
                        class="text-sm cursor-pointer px-4 py-2 bg-[#D9E2F5] text-gray-800 rounded-full transition duration-300 ease-in-out hover:bg-[#AEC1E8]"
                        [class.bg-[#AEC1E8]]="filterForm.get('fruit')?.value === 'none'">
                        Les deux
                    </label>
                </div>
            </div>
            <div class="w-full">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="difficulty">
                    Difficulté
                </label>
                <select class="select select-bordered w-full max-w-xs" name="difficulty" id="difficulty"
                    formControlName="difficulty">
                    <option value="none">toutes les difficultés</option>
                    <option value="01">Très facile</option>
                    <option value="02">Facile</option>
                    <option value="03">Moyen</option>
                    <option value="04">Difficile</option>
                </select>
            </div>
            <div class="flex space-x-1">
                <div class="flex items-center mb-2">
                    <input class="sr-only" type="radio" id="jardin" value="1" formControlName="compatibility"
                        name="compatibility">
                    <label for="jardin"
                        class="text-sm cursor-pointer px-4 py-2 bg-[#D9E2F5] text-gray-800 rounded-full transition duration-300 ease-in-out hover:bg-[#AEC1E8]"
                        [class.bg-[#AEC1E8]]="filterForm.get('compatibility')?.value === '1'">
                        Jardin
                    </label>
                </div>
                <div class="flex items-center mb-2">
                    <input class="sr-only" type="radio" id="terrasse" value="0" formControlName="compatibility"
                        name="compatibility">
                    <label for="terrasse"
                        class="text-sm cursor-pointer px-4 py-2 bg-[#D9E2F5] text-gray-800 rounded-full transition duration-300 ease-in-out hover:bg-[#AEC1E8]"
                        [class.bg-[#AEC1E8]]="filterForm.get('compatibility')?.value === '0'">
                        Terrasse/Balcon
                    </label>
                </div>
                <div class="flex items-center">
                    <input class="sr-only" type="radio" id="bothCompatibility" value="none"
                        formControlName="compatibility" name="compatibility">
                    <label for="bothCompatibility"
                        class="text-sm cursor-pointer px-4 py-2 bg-[#D9E2F5] text-gray-800 rounded-full transition duration-300 ease-in-out hover:bg-[#AEC1E8]"
                        [class.bg-[#AEC1E8]]="filterForm.get('compatibility')?.value === 'none'">
                        Les deux
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="m-4">
        <!-- <p *ngIf="number >= 0"><b>{{ number }} résultat(s)</b></p> -->
        <p *ngIf="responseMessage" class="alert alert-info">{{ responseMessage }}</p>
    </div>
    <!-- <div class="px-4 grid grid-cols-2 gap-4 pb-20 bg-greenPlant">
        <ng-container *ngFor="let cat of cats">
            <div class="mb-4">
                <app-cat [urgent]="cat.urgent" [numberOfFavorites]="cat.count" [sex]="cat.sex" [id]="cat.id"
                    [photo]="cat.photo" [name]="cat.name" [age]="cat.age" [localisation]="cat.localisation"
                    [favoris]="cat.fav" (click)="catPage(cat.id)"></app-cat>
            </div>
        </ng-container>
    </div> -->

    <div class="pb-4 px-4 flex-1 overflow-y-auto">
        <ul>
            <li *ngFor="let plant of cats"
                class="bg-white rounded-lg p-4 shadow mb-4 flex items-center justify-between">
                <div class="flex items-center" (click)="catPage(plant.id)">
                    <img [src]="apiUrl + '/storage/Image/' + plant.photo" alt="{{ plant.name }}" class="h-12 w-12 rounded-full mr-4">
                    <div class="flex flex-col">
                        <span class="font-medium">{{ plant.name }}</span>
                        <!--            <span class="text-sm text-gray-500">{{ plant.category }}</span>-->
                    </div>
                </div>
                <!--        <button class="text-green-500" (click)="addPlantToGarden(plant.id)">-->
                <!--          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
                <!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.5v15m7.5-7.5h-15"></path>-->
                <!--          </svg>-->
                <!--        </button>-->

                <button *ngIf="!plant.isInGarden" class="text-green-500" (click)="addPlantToGarden(plant.id)">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 4.5v15m7.5-7.5h-15"></path>
                    </svg>
                </button>
                <button *ngIf="plant.isInGarden" class="text-red-500" (click)="deletePlantToGarden(plant.id)">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>