<div class="h-screen flex justify-center items-center bg-vertGradient z-10" >

  <div class="container font-montserrat align-middle">
    <div class="flex justify-center items-center py-4">
      <img src="../../../assets/graine2.svg"/>
    </div>
<div class="container">
  <div class="flex justify-center align-center">
    <p class="text-white" >Pour continuer connectez vous </p>
  </div>

  <div class="flex justify-center items-center py-4 px-5">
    <button
      class="bg-white text-orange font-bold py-2 px-4 rounded-full w-8/12 max-w-xl focus:outline-none focus:shadow-outline">
      <a routerLink="/login" class="bg-white text-orange font-bold py-2 px-4 rounded-full">
        J'ai un compte
      </a>
    </button>
  </div>

  <div class="flex justify-center align-center py-2">
  <p class="text-white"> ou </p>
  </div>
  <div class="flex justify-center items-center py-4 px-5">

    <button
      class="bg-white text-orange font-bold py-2 px-4 rounded-full w-8/12 max-w-xl focus:outline-none focus:shadow-outline">
      <a routerLink="/register" class="bg-white text-orange font-bold py-2 px-4 rounded-full">
        INSRIPTION
      </a>
    </button>
  </div>
</div>



  </div>
<!--  <img src="../../../assets/bg.svg" class="absolute inset-0 w-full h-full object-cover z-0" alt="Background image">-->
</div>
